*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: armFont;
}

a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul,li{
    list-style: none;
}

img{
    width: 100%;
}

.image{
    font-size: 0;
}

@font-face {
    font-family: armFont;
    src: url(../font/Arm\ Hmk\'s\ Bebas\ Neue.TTF);
  }

  